useDynLib(Resonance)
importFrom(Rcpp, evalCpp)

import(signal)
import(geigen)
import(bit64)
importFrom(compiler, cmpfun)
importFrom(pracma, interp1)

export("DataBlock")
export("block.processor")
export("input")
export("output")
export("createOutput")

export("simulationSource")
export("to.channels")
export("coef_10000_to_500")
exportPattern("^pipe\\..+")
exportPattern("^drain\\..+")
exportPattern("^cross\\..+")
exportPattern("^source\\..+")
export("pipeline")
export("pump")
export("pumpTogether")
export("compileCallbacks")
export("calcCSP")
export("signalPreparation")
