useDynLib(Resonance)
importFrom(Rcpp, evalCpp)

import(signal)
import(geigen)
importFrom(digest, digest)
importFrom(compiler, cmpfun)
importFrom(zoo, rollapply)
importFrom(nanotime, nanotime)
importFrom(bit64, as.integer64)

export("processor")
export("to.channels")
export("coef_10000_to_500")
exportPattern("^pipe\\..+")
exportPattern("^drain\\..+")
exportPattern("^cross\\..+")
exportPattern("^source\\..+")
export("pipeline")
export("calcCSP")
export("signalPreparation")
export("DBcombine")
exportPattern("^SI.*")
exportPattern(".*")

